<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @player.first_name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @player.last_name %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @player.rut %>
</p>

<p>
  <strong>Dinero:</strong>
  <%= @player.money.round(2) %>
</p>

<%= link_to 'Editar', edit_player_path(@player) %> |
<%= link_to 'Regresar', players_path %>
